:root {
    --main-color: #fef9f1;
    --button-bg-color-1: #FFC300;
    --button-bg-color-2: #333;
    --button-text-color: #fff;
    --text-color: #333;
    --border-color: #333;
    --padding: 1rem;
    --statistics-color: #DDDBD6;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: var(--main-color);
}

.side-bar {
    width: 70px;
    height: 100vh;
    color: var(--text-color);
    background-color: var(--main-color);
    transition: width 0.5s;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
}

.side-bar.open {
    width: 250px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--border-color);
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.sidebar-links {
    padding: 10px;
}

.sidebar-links a {
    padding: 12px 20px;
    text-decoration: none;
    font-size: 18px;
    color: var(--text-color);
    display: block;
    background-color: var(--button-bg-color-1);
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar-links a .sidebar-text {
    display: none;
}

.sidebar-links a:hover {
    background-color: var(--button-bg-color-2);
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: var(--padding);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    background-color: var(--main-color);
    border-bottom: 1px solid var(--border-color);
}

.btn-container button {
    background-color: var(--button-bg-color-2);
    color: var(--button-text-color);
    padding: 0.5rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    cursor: pointer;
}

.reporte-diario {
    padding: var(--padding);
}

.ventas {
    display: flex;
    justify-content: space-between;
}

.ventas-caja-m, .ventas-caja-t {
    width: 48%;
}

.venta {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    padding: 0.5rem 0;
}

.total-ventas, .total-descuentos, .totales {
    margin-top: 1rem;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 15px;
    border: 1px solid #888;
    width: 60%;
    max-width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: #333;
}

.modal-content table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0.5rem;
}

.modal-content th,
.modal-content td {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid var(--border-color);
}

.modal-content th {
    background-color: var(--button-bg-color-1);
    color: var(--text-color);
}

.modal-content td {
    background-color: #f9f9f9;
}

.modal-content th:nth-child(1),
.modal-content td:nth-child(1) {
    width: 40%;
}

.modal-content th:nth-child(2),
.modal-content td:nth-child(2),
.modal-content th:nth-child(3),
.modal-content td:nth-child(3),
.modal-content th:nth-child(4),
.modal-content td:nth-child(4) {
    width: 20%;
}
