:root {
    --main-color: #fef9f1;
    --button-bg-color-1: #FFC300;
    --button-bg-color-2: #333;
    --button-bg-color-3: #51F514;
    --button-bg-color-4: #F51414;
    --button-text-color: #fff;
    --text-color: #333;
    --border-color: #333;
    --padding: 1rem;
    --statistics-color: #DDDBD6;
  }

* {
    font-weight: bold;
}

.body-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    padding: 1rem;
}

.body-header div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
}

.body-header div div {
    margin: 0 1rem;
}

.categories-container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    gap: 10px 50px;
    align-items: center;
    justify-content: center;

    padding: 1rem;
}

.category {
    border: 1px solid var(--statistics-color);
    border-radius: 5px;
    padding: 1rem;

    text-align: center;
    background-color: var(--button-text-color);
}

.category:hover {
    cursor: pointer;
    background-color: var(--text-color);
    color: var(--statistics-color);
}

.btn-container-categorias {
    display: flex;
    flex-direction: column;
    
    
}

/* elimimnar producto */
.elimnar-producto-icono:hover {
    cursor: pointer;
}

.btn-container-categorias .btn-categorias{
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem 0;
}

.btn-categorias:hover {
    cursor: pointer;
}


.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.btn-container {
    display: flex;
    flex-direction: column;
}


#btn-faltantes {
    background-color: var(--button-bg-color-1);
    color:var(--button-bg-color-2);
}

#agregar-categoria,
.modal-btn{
    background-color: var(--button-bg-color-3);
    color:var(--button-bg-color-2);
}

#elimiar-categoria {
    background-color: var(--button-bg-color-4);
    color:var(--button-bg-color-2);
}

/*  -------------- categoria de productos ---------------------  */
.category-items-header,
.category-items-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.category-body,
.sub-category-name,
.btn-container {
    padding: 1rem;
}



.category-items-rows {
    border: 1px solid var(--button-bg-color-2);
}

.category-items-columns {
    padding: 1rem;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.btn-container
.category-btn-mod {
    background-color: var(--button-bg-color-3);
    color:var(--button-bg-color-2);
    width: 15%;
    
}



/* modal agregar categoria */
/* El modal (escondido por defecto) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);

    padding: 1rem;
}

/* Modal contenido */
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
}

/* Botón de cerrar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
