:root {
  --main-color:#fef9f1;
  --button-bg-color-1: #FFC300;
  --button-bg-color-2: #333;
  --button-text-color: #fff;
  --text-color: #333;
  --border-color: #333;
  --padding: 1rem;
}

/* side menu */
.container {
  display: inline-block;
  cursor: pointer;
  margin-top: 25px;
  margin-left: 10px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* -------------------*/


body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: var(--main-color);
}

/* Barra lateral */
.side-bar {
  background-color: var(--main-color);
  width: 5%;
  height: 100vh;
  color: var(--button-text-color);

}

/* Sección principal */
.main-content {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 100%;
  background-color: var(--main-color);
  padding-top: var(--padding);
  padding-left: var(--padding);
  padding-right: var(--padding);
  margin: auto;
  margin-left: 0;
}

/* Encabezado */

.header {
  border-bottom: 1px solid var(--border-color);
}
.header,
.sales-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
  background-color: var(--main-color);
  

}

.btn-container button {
  background-color: var( --button-bg-color-2);
  color: var(--button-text-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-container button:hover {
  background-color: darken(var(--button-bg-color), 10%);
}

/* Contenedor de ventas */
.sales-container {
  display: flex;
  flex-grow: 1;
  gap: var(--padding);
}

.sales-form {
  flex: 1;
  border: 1px solid var(--border-color);
  background-color: var(--main-color);
  padding: 2rem;
  border-radius: 5px;

  position: relative;
}


/*       boton agregar producto      */


.sales-form #add-product-btn {
  position: absolute;
  bottom: 0;
  width: 80%;
  margin: auto;
  margin-bottom: 4rem;

  background-color: var(--button-bg-color-1);
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}


.sale-form {
  display: flex;
  flex-direction: column;
  gap: var(--padding);
}

.autocomplete {
  position: relative;
  
}

.autocomplete input {
  width: 95%;
  margin-top: 1rem;
}

.product-container {
  margin-top: var(--padding);
  padding-top: var(--padding);
  padding-bottom: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: #fff;
  text-align:justify;

}

input {
  border: 1px solid var(--border-color);
  padding: 0.5rem;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
  background-color: var(--main-color);

}

/* Tabla de ventas */
.sales-details {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: var(--padding);

  position: relative;
  height: 100%;
}

.sales-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #F9D049;
  border-radius: 5px;
  overflow:hidden;
}

.sales-table th, .sales-table td {
  border: 1px solid var(--border-color);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: left;
}

.sales-table th {
  background-color: var(--header-bg-color);
}

.total-cobrar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  bottom: 0;

  width: 100%;
}

.total-container {
  font-size: 1.2rem;
  font-weight: bold;
  
  padding: 2rem;

  border-top: 3px solid #333;
  width: 100%;
}

#total-amount {
  border:3px solid #333;
  
  padding: 1rem;
  border-radius: 20%;
}

#open-modal-btn {
  background-color: var( --button-bg-color-1);
  color: var(--text-color);
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  cursor: pointer;
}



/* modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 8px;

  border:3px solid var( --button-bg-color-1);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.sale-confirm {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  border-bottom: 3px solid var( --button-bg-color-1);
}

.number-date {
  display: flex;
  flex-direction: column;
}

.articles-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 10px;
}

.articles-detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  
}

.product-list {
  
  margin-right: 20px;

  width: 50%;

  display: flex;
  flex-direction: column;
  align-items:normal;
  justify-content: space-between;
}

.order-summary {
  flex: 1;
  width: 50%;
 
}

.product-list div {
  padding: 1rem;
}

.payment-method {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.payment-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;

  margin-left:4rem;
  
}

.payment-btn {
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;

  border: 3px solid var( --button-bg-color-1)
}

.payment-btn:hover {
  background-color: #ddd;
}

.payment-amount {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.payment-amount input {
  width: 100px;
}

.articles-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#confirm-btn, #print-btn {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#confirm-btn:hover, #print-btn:hover {
  background-color: #218838;
}
