/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff7e8;
}

/* Encabezado y navegación */
header {
    background-color: #f8f9fa;
    padding: 10px;
}

nav {
    background-color: #f4d03f;
}

/* Estilos para la sección de imágenes y opciones */
.opciones-inicio {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr)); /* Grilla de 4 columnas */
    grid-template-rows: repeat(auto, auto);
    row-gap: 1rem;
    column-gap: 1rem;
    align-items: center;
    justify-content: center;
}

.opciones-inicio a {
    text-decoration: none;
}

.opciones-inicio a:hover {
    transform: scale(0.99);
}

.opcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.opcion img.icono {
    width: 25%; /* Ajuste de tamaño de imagen */
    height: auto;
    margin-bottom: 10px;
}

.opcion p {
    font-size: 1rem;
    color: #000;
}


/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .opciones-inicio {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas pequeñas */
    }

    .opcion img.icono {
        width: 60px; /* Ajuste de tamaño de imagen para pantallas pequeñas */
    }
}
