<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock - Categorias</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles-ventas.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css') }}">
</head>
<body>
    <div class="container-fluid p-3">
        <!-- Cabecera -->
        <header class="d-flex justify-content-between align-items-center border-bottom pb-2">
            <span>Hola, Florencia</span>
            <a href="pantallaprincipal.html" ><img src="{{ url_for('static', filename='images/homee.png') }}" alt="" class="home-img"></a>
            <button id="btn-cambiar-usuario" class="btn btn-outline-secondary">Cambiar usuario</button>
        </header>
        <nav class="navbar navbar-expand-md bg-warning p-2">
            <h5 class="mb-0">Stock</h5>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <button id="btn-seleccionar-cliente" class="btn btn-dark"><a href="login.html">Cerrar sesion</a></button>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="flex-content">
            <div class="sidebar">
                <div class="sidebar-item"><a href="ventas.html" class="nav-link text-white"><img src="{{ url_for('static', filename='images/carro.png') }}" alt=""></a></div>
                <div class="sidebar-item"><a href="cash.html" class="nav-link text-white"><img src="{{ url_for('static', filename='images/caja.png') }}" alt=""></a></div>
                <div class="sidebar-item"><a href="{{ url_for('inventory.inventory') }}" class="nav-link text-white"><img src="{{ url_for('static', filename='images/inventario.png') }}" alt=""></a></div>
                <!-- <div class="sidebar-item"><a href="user_management.html" class="nav-link text-white"><img src="../static/images/gest_user.png" alt=""></a></div> -->
                <!-- <div class="sidebar-item"><a href="register.html" class="nav-link text-white"><img src="../static/images/register_user.png" alt=""></a></div> -->
                <div class="sidebar-item"><a href="clients_management.html" class="nav-link text-white"><img src="{{ url_for('static', filename='images/clients.png') }}" alt=""></a></div>
                <div class="sidebar-item"><a href="daily_report.html" class="nav-link text-white"><img src="{{ url_for('static', filename='images/estadistica.png') }}" alt=""></a></div>
                <div class="sidebar-item"><a href="statistics.html" class="nav-link text-white"><img src="{{ url_for('static', filename='images/statistics.png') }}" alt=""></a></div>
            </div>
            <div class="main-flex-content">
                <!-- Sección de productos por categorías -->
                <div class="category-heading mb-3">
                  <h5>{{ category.category_name }}</h5>
                </div>
                <div class="btn-container">
                    <button class="btn btn-primary" id="openModalBtn">Agregar subcategoría</button>
                </div>

                <!-- Tabs para categorias -->
                <ul class="nav nav-tabs" id="cookieTabs" role="tablist">
                  {% for sub_categorie in sub_categories %}
                      <li class="nav-item">
                        <a class="nav-link {% if loop.first %}active{% endif %}" id="tab-{{ sub_categorie.id_subcategory }}" data-toggle="tab" href="#tamano-{{ sub_categorie.id_subcategory }}" role="tab"
                           aria-controls="tamano-{{ sub_categorie.id_subcategory }}" aria-selected="{% if loop.first %}true{% else %}false{% endif %}">{{ sub_categorie.subcategory_name }}</a>
                      </li>
                  {% endfor %}
                </ul>

                <div class="btn-container">
                    <!-- Botón para abrir el modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAgregarProducto">
                        Agregar Producto
                    </button>
                </div>

                <div class="tab-content mt-4" id="cookieTabsContent">
                  {% for sub_categorie in sub_categories %}
                    <div class="tab-pane fade{% if loop.first %} show active{% endif %}" id="tamano-{{ sub_categorie.id }}" role="tabpanel" aria-labelledby="tab-{{ sub_categorie.id }}">
                        <h6>{{ sub_categorie.subcategory_name }}</h6>
                        <div class="table-responsive">
                          <table class="table table-bordered">
                            <thead class="thead-dark">
                              <tr>
                                <th>Código</th>
                                <th>Producto</th>
                                <th>Disponible</th>
                                <th>Min</th>
                                <th>Max</th>
                                <th>Precio</th>
                                <th>Estado</th>
                                <th>Acción</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                  <button class="btn btn-warning btn-sm" onclick="openEditModal('001')">Editar</button>
                                  <button class="btn btn-danger btn-sm" onclick="openDeleteModal('001')">Eliminar</button>
                                </td>
                              </tr>

                            </tbody>
                          </table>
                        </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <!-- Modal para agregar categoría -->
    <div id="modal-agregar" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar Categoría</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('inventory.add_subcategory', id_category=category.id_category) }}">
                        {{ form.hidden_tag() }}

                        <label>Nombre de la Subcategoría</label>
                        {{ form.subcategory_name(class_='form-control') }}
                        {% for error in form.subcategory_name.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                        <button type="submit">Agregar Subcategoría</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para agregar producto -->
    <div class="modal fade" id="modalAgregarProducto" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAgregarProductoLabel">Agregar Producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('inventory.add_product', id_category=category.id_category, id_
                    subcategory=sub_categorie.id_subcategory) }}">
                        <!-- Campos del formulario AddProductForm -->
                        {{ product_form.hidden_tag() }}
                        <div class="form-group">
                            {{ product_form.product_name.label(class_="form-label") }}
                            {{ product_form.product_name(class_="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ product_form.product_price.label(class_="form-label") }}
                            {{ product_form.product_price(class_="form-control") }}
                        </div>

                        <!-- Campos del formulario AddProductStock -->
                        {{ stock_form.hidden_tag() }}
                        <div class="form-group">
                            {{ stock_form.cantidad.label(class_="form-label") }}
                            {{ stock_form.cantidad(class_="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ stock_form.stock_min.label(class_="form-label") }}
                            {{ stock_form.stock_min(class_="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ stock_form.stock_max.label(class_="form-label") }}
                            {{ stock_form.stock_max(class_="form-control") }}
                        </div>

                    <button type="submit" class="btn btn-primary mt-3">Agregar Producto</button>

                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--<script src="../static/modals.js"></script>-->
    <script>
        $(document).ready(function() {
                // Seleccionar botones y modales
                $('#openModalBtn').on('click', function() {
                $('#modal-agregar').modal('show');
            });

            $('[data-target="#modalAgregarProducto"]').on('click', function() {
                $('#modalAgregarProducto').modal('show');
            });

            // Cerrar el modal de agregar categoría
            $('.close').on('click', function() {
                $(this).closest('.modal').modal('hide');
            });

            // Detectar clic fuera del modal para cerrarlo
            $(window).on('click', function(event) {
                if ($(event.target).hasClass('modal')) {
                    $('.modal').modal('hide');
                }
            });
        });
    </script>
  </body>
</html>
