<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock - Categorías</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles-ventas.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css') }}">
</head>
<body>
    <div class="container-fluid p-3">
        <!-- Cabecera -->
        <header class="d-flex justify-content-between align-items-center border-bottom pb-2">
            <span>Hola, Florencia</span>
            <a href="pantallaprincipal.html"><img src="{{ url_for('static', filename='images/homee.png') }}" alt="" class="home-img"></a>
            <button id="btn-cambiar-usuario" class="btn btn-outline-secondary">Cambiar usuario</button>
        </header>
        <nav class="navbar navbar-expand-md bg-warning p-2">
            <h5 class="mb-0">Stock</h5>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="login.html" class="btn btn-dark">Cerrar sesión</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Contenido principal -->
        <div class="d-flex">
            <div class="sidebar">
                <div class="sidebar-item"><a href="ventas.html" class="nav-link text-white"><img src="{{ url_for('static', filename='images/carro.png') }}" alt=""></a></div>
                <div class="sidebar-item"><a href="cash.html" class="nav-link text-white"><img src="{{ url_for('static', filename='images/caja.png') }}" alt=""></a></div>
                <div class="sidebar-item"><a href="{{ url_for('inventory.inventory') }}" class="nav-link text-white"><img src="{{ url_for('static', filename='images/inventario.png') }}" alt=""></a></div>
                <div class="sidebar-item"><a href="clients_management.html" class="nav-link text-white"><img src="{{ url_for('static', filename='images/clients.png') }}" alt=""></a></div>
                <div class="sidebar-item"><a href="daily_report.html" class="nav-link text-white"><img src="{{ url_for('static', filename='images/estadistica.png') }}" alt=""></a></div>
                <div class="sidebar-item"><a href="statistics.html" class="nav-link text-white"><img src="{{ url_for('static', filename='images/statistics.png') }}" alt=""></a></div>
            </div>

            <div class="main-flex-content">
                <!-- Sección de productos por categorías -->
                <div class="category-heading mb-3">
                    <h5>{{ category.category_name }}</h5>
                </div>

                <!-- Botones de acción -->
                <div class="btn-container">
                    <button class="btn btn-primary" id="openModalBtn" data-toggle="modal" data-target="#modal-agregar">Agregar subcategoría</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalProducto" data-action="add">
                        Agregar Producto
                    </button>
                </div>

                <!-- Tabs para subcategorías -->
                <ul class="nav nav-tabs" id="cookieTabs" role="tablist">
                  {% for sub_categorie in sub_categories %}
                      <li class="nav-item">
                          <a class="nav-link {% if loop.first %}active{% endif %}" id="tab-{{ sub_categorie.id_subcategory }}"
                             data-toggle="tab" href="#tamano-{{ sub_categorie.id_subcategory }}" role="tab"
                             aria-controls="tamano-{{ sub_categorie.id_subcategory }}"
                             aria-selected="{% if loop.first %}true{% else %}false{% endif %}">{{ sub_categorie.subcategory_name }}</a>
                      </li>
                  {% endfor %}
                </ul>

                <div class="tab-content mt-4" id="cookieTabsContent">
                    {% for sub_categorie in sub_categories %}
                        <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="tamano-{{ sub_categorie.id_subcategory }}" role="tabpanel" aria-labelledby="tab-{{ sub_categorie.id_subcategory }}">
                        <h6>{{ sub_categorie.subcategory_name }}</h6>
                        <div class="table-responsive">
                          <table class="table table-bordered">
                            <thead class="thead-dark">
                              <tr>
                                <th>Código</th>
                                <th>Producto</th>
                                <th>Disponible</th>
                                <th>Min</th>
                                <th>Max</th>
                                <th>Precio</th>
                                <th>Estado</th>
                                <th>Acción</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% if not products %}
                                    <tr>
                                        <td colspan="8" class="text-center">No hay productos disponibles</td>
                                    </tr>
                              {% endif %}
                              {% for product in products %}
                                {% if product.id_subcategory == sub_categorie.id_subcategory %}
                                  <tr>
                                      <td>{{ product.id_product }}</td>
                                      <td>{{ product.product_name }}</td>
                                      <td>{{ stock_data[product.id_product].cantidad }}</td>
                                      <td>{{ stock_data[product.id_product].stock_min }}</td>
                                      <td>{{ stock_data[product.id_product].stock_max }}</td>
                                      <td>{{ product.product_price }}</td>
                                      <td>
                                          {% if stock_data[product.id_product].cantidad < stock_data[product.id_product].stock_min %}
                                            Insuficiente
                                          {% else %}
                                            Suficiente
                                          {% endif %}
                                      </td>
                                      <td>
                                          <button type="button" class="btn btn-warning btn-sm" data-toggle="modal"
                                                    data-target="#modalProducto"
                                                    data-action="edit"
                                                    data-id_product="{{ product.id_product }}"
                                                    data-name="{{ product.product_name }}"
                                                    data-price="{{ product.product_price }}"
                                                    data-cantidad="{{ stock_data[product.id_product].cantidad }}"
                                                    data-stock_min="{{ stock_data[product.id_product].stock_min }}"
                                                    data-stock_max="{{ stock_data[product.id_product].stock_max }}">
                                            Editar Producto
                                          </button>
                                          <!--<button class="btn btn-warning btn-sm" onclick="openEditModal('{{ product.id_product }}')">Editar</button>-->
                                          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalEliminarProducto" onclick="setProductId({{ product.id_product }})">
                                            Eliminar
                                          </button>
                                      </td>
                                  </tr>
                                {% endif %}
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para agregar subcategoría -->
    <div id="modal-agregar" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar Subcategoría</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('inventory.add_subcategory', id_category=category.id_category) }}">
                        {{ form.hidden_tag() }}
                        <label>Nombre de la Subcategoría</label>
                        {{ form.subcategory_name(class_='form-control') }}
                        {% for error in form.subcategory_name.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary mt-3">Agregar Subcategoría</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalEliminarProducto" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEliminarProductoLabel">Editar Producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('inventory.delete_product') }}" method="POST">
                        <!-- Campo oculto para almacenar el ID del producto -->
                        <input type="hidden" name="id_product" id="id_product_d">
                        <label>¿Eliminar producto?</label>
                        <button type="submit" class="btn btn-primary">Si</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal para agregar o editar producto -->
    <div class="modal fade" id="modalProducto" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalProductoLabel">Agregar/Editar Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" id="formProducto">
                    {{ product_form.hidden_tag() }}
                    <input type="hidden" name="id_product" id="id_product"> <!-- Campo oculto para ID del producto -->
                    <!--<input type="hidden" name="id_subcategory" id="id_subcategory">--> <!-- Campo oculto para subcategoría -->
                    <div class="form-group">
                        {{ product_form.product_name.label(class_="form-label") }}
                        {{ product_form.product_name(class_="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ product_form.product_price.label(class_="form-label") }}
                        {{ product_form.product_price(class_="form-control") }}
                    </div>
                    <label for="id_subcategory">Subcategoría:</label>
                    <select name="id_subcategory" id="id_subcategory" required>
                        {% for subcategory in sub_categories %}
                            <option value="{{ subcategory.id_subcategory }}">{{ subcategory.subcategory_name }}</option>
                        {% endfor %}
                    </select><br>
                    {{ stock_form.hidden_tag() }}
                    <div class="form-group">
                        {{ stock_form.cantidad.label(class_="form-label") }}
                        {{ stock_form.cantidad(class_="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ stock_form.stock_min.label(class_="form-label") }}
                        {{ stock_form.stock_min(class_="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ stock_form.stock_max.label(class_="form-label") }}
                        {{ stock_form.stock_max(class_="form-control") }}
                    </div>
                    <button type="submit" class="btn btn-primary" id="btnGuardar">Guardar Producto</button>
                </form>
            </div>
        </div>
    </div>
</div>



    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='cookie-tabs.js') }}"></script>
    <script>

        // Manejar el modal de agregar/editar producto
            $('#modalProducto').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Botón que activó el modal
    var actionType = button.data('action'); // "add" o "edit"
    var form = $('#formProducto');

    // Configurar el modal según el tipo de acción
    if (actionType === 'edit') {
        form.attr('action', "{{ url_for('inventory.edit_product') }}");

        // Ajustar el título y el botón
        $('#modalProductoLabel').text('Editar Producto');
        $('#btnGuardar').text('Actualizar Producto');

        // Cargar datos en el formulario para editar
        $('#id_product').val(button.data('id_product'));
        $('#id_subcategory').val(button.data('subcategory-id'));
        $('#product_name').val(button.data('name'));
        $('#product_price').val(button.data('price'));
        $('#cantidad').val(button.data('cantidad'));
        $('#stock_min').val(button.data('stock_min'));
        $('#stock_max').val(button.data('stock_max'));

    } else {
        form.attr('action', "{{ url_for('inventory.add_product', id_category=category.id_category) }}");

        // Configurar el título y el botón para agregar
        $('#modalProductoLabel').text('Agregar Producto');
        $('#btnGuardar').text('Guardar Producto');

        // Limpiar los campos del formulario
        $('#formProducto').trigger('reset');

        // Obtener y establecer el id_subcategory al abrir el modal para agregar
        var activeTab = $('#cookieTabs .nav-link.active').attr('href');
        var subcategoryId = activeTab ? activeTab.split('-')[1] : null;

        if (subcategoryId) {
            $('#id_subcategory').val(subcategoryId);
        } else {
            console.warn("No se pudo obtener un ID de subcategoría válido.");
        }
    }
});





        $('#modalEliminarProducto').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);  // Botón que abre el modal
            var id_product_d = button.data('id_product');  // Extrae id_product del atributo data-id_product

            var modal = $(this);
            modal.find('#id_product').val(id_product);  // Establece id_product en el campo oculto
        });
        function setProductId(productId) {
            document.getElementById('id_product_d').value = productId;
        }
    </script>
</body>
</html>