<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Módulo de Ventas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles-ventas.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='inventory.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css') }}">
</head>
<body>
    <div class="container-fluid p-3">
        <!-- Cabecera -->
        <header class="d-flex justify-content-between align-items-center border-bottom pb-2">
            <span>Hola, Florencia</span>
            <a href="{{ url_for('static', filename='images/homee.png') }}" class="home-img"></a>
            <button id="btn-cambiar-usuario" class="btn btn-outline-secondary"><a href="login.html">Cerrar sesion</a></button>
        </header>
        <nav class="navbar navbar-expand-md bg-warning p-2">
            <h5 class="mb-0">Inventario</h5>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <button id="btn-seleccionar-cliente" class="btn btn-dark">Seleccionar cliente</button>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="flex-content">
            <div class="sidebar">
                <div class="sidebar-item"><a href="ventas.html" class="nav-link text-white"><img src="{{ url_for('static', filename='images/carro.png') }}" alt=""></a></div>
                <div class="sidebar-item"><a href="cash.html" class="nav-link text-white"><img src="../static/images/caja.png" alt=""></a></div>
                <div class="sidebar-item"><a href="inventory.html" class="nav-link text-white"><img src="../static/images/inventario.png" alt=""></a></div>
                <!-- <div class="sidebar-item"><a href="user_management.html" class="nav-link text-white"><img src="../static/images/gest_user.png" alt=""></a></div> -->
                <!-- <div class="sidebar-item"><a href="register.html" class="nav-link text-white"><img src="../static/images/register_user.png" alt=""></a></div> -->
                <div class="sidebar-item"><a href="clients_management.html" class="nav-link text-white"><img src="../static/images/clients.png" alt=""></a></div>
                <div class="sidebar-item"><a href="daily_report.html" class="nav-link text-white"><img src="../static/images/estadistica.png" alt=""></a></div>
                <div class="sidebar-item"><a href="statistics.html" class="nav-link text-white"><img src="../static/images/statistics.png" alt=""></a></div>
            </div>
            <div class="content">
                <!--
                 -->
                 <div class="container text-center my-5">

                    <div class="row btn-container-categorias mb-1">
                        <div class="col-md-4">
                            <button class="btn btn-faltantes">Ver productos faltantes</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-agregar">Agregar categoría</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-eliminar">Eliminar categoría</button>
                        </div>
                    </div>

                    <div class="row my-4">
                        <div class="col-md-6">
                            <div class="totales-item">Cantidad de productos totales en stock: {{ total_stock_count }}<span class="total-stock"></span></div>
                        </div>
                        <div class="col-md-6">
                            <div class="totales-item">Cantidad de productos faltantes: {{ total_missing_products }}<span class="total-faltantes"></span></div>
                        </div>
                    </div>

                    <!-- Lista de categorias -->
                    <!-- Renderizado de categorias cargadas en la base de datos -->
                    <div class="category-container">
                        <form method="POST" action="{{ url_for('inventory.inventory') }}">
                            {{ search_form.hidden_tag() }}
                            <div>
                                {{ search_form.search_term.label }} {{ search_form.search_term(size=20) }}
                                {{ search_form.submit() }}
                            </div>
                        </form>
                        {% for category in categories %}
                            <div class="category"><a href="{{ url_for('inventory.show_products', id_category=category.id_category) }}">{{ category.category_name }}</a></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal para agregar categoría -->
    <div id="modal-agregar" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Agregar Categoría</h2>

            <form method="POST" action="{{ url_for('inventory.add_category') }}">
                {{ form.hidden_tag() }}

                <label >Nombre de la Categoría</label>
                {{ form.category_name(class_='form-control') }}
                {% for error in form.category_name.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}

                <button type="submit">Agregar Categoría</button>
            </form>
        </div>
    </div>

    <!--
    <div id="modal-agregar" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Agregar categoría</h2>
            <label for="categoria">Nombre de la nueva categoría:</label>
            <input type="text" id="categoria" name="categoria">
            <button class="modal-btn">Confirmar</button>
        </div>
    </div>
    -->

    <!-- Modal para ver productos faltantes -->
    <div id="modal-faltantes" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Productos faltantes</h2>
            <ul>
                <!-- Lista de productos faltantes -->
                {% for missing_product_name in missing_product_names%}
                    <li>{{ missing_product_name }}</li>
                {% endfor %}
            </ul>
            <button class="modal-btn">Cerrar</button>
        </div>
    </div>

    <div id="modal-eliminar" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Eliminar categoría</h2>
            <p>Si eliminas una categoría eliminaras todos los productos asociados</p>
            <form method="POST" action="{{ url_for('inventory.delete_category') }}">
                {{ form.hidden_tag() }}
                <div>
                    {{ form.category_name.label }}<br>
                    {{ form.category_name(size=32) }}<br>
                    {% for error in form.category_name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <button type="submit">Eliminar Categoría</button>
            </form>
        </div>
    </div>



    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../static/script.js"></script>
    <script src="../static/sidebar.js"></script>
    <script src="../static/inventary-modal.js"></script>
        <script>
        $(document).ready(function() {
            var modal = $('#modal-agregar');
            var btn = $('#openModalBtn');
            var span = $('.close');

            // Abrir modal al hacer clic en el botón
            btn.click(function() {
                modal.show();
            });

            // Cerrar el modal al hacer clic en el botón de cerrar
            span.click(function() {
                modal.hide();
            });

            // Mostrar el modal si se recibe un mensaje flash específico
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if message == 'show_modal' %}
                            modal.show();
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}

            // Cerrar el modal si el usuario hace clic fuera de él
            $(window).click(function(event) {
                if (event.target.id === 'modal-agregar') {
                    modal.hide();
                }
            });
        });


    </script>
</body>
</html>