<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Módulo de Inicio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/pantallaprincipal.css">
</head>
<body>
    <div class="container-fluid p-3">
        <header class="d-flex justify-content-between align-items-center border-bottom pb-2">
            <span>Hola, Florencia</span>
            <button id="btn-cambiar-usuario" class="btn btn-outline-secondary"><a href="login.html">Cerrar sesion</a></button>
        </header>
    
        <nav class="d-flex justify-content-between align-items-center my-3 bg-warning p-2">    
            <!-- Texto centrado -->
            <h3 class="text-center mb-0 flex-grow-1">Gestión de ventas y stock - Limoneto al paso</h3>
            
            <!-- Botón invisible para mantener el espacio a la derecha -->
            <div style="width: 40px;"></div>
        </nav>

        <!-- Sección con las imágenes y textos -->
        <div class="opciones-inicio">
            <a href="ventas.html">
                <div class="opcion">
                    <img src="../static/images/carro.png" alt="Realizar una venta" class="icono">
                    <p>Realizar una venta</p>
                </div>
            </a>
            <a href="cash.html">
                <div class="opcion">
                    <img src="../static/images/caja.png" alt="Caja" class="icono">
                    <p>Caja</p>
                </div>
            </a>
            <a href="daily_report.html">
                <div class="opcion">
                    <img src="../static/images/estadistica.png" alt="Reporte diario" class="icono">
                    <p>Reporte diario</p>
                </div>
            </a>
            <a href="statistics.html">
                <div class="opcion">
                    <img src="../static/images/statistics.png" alt="Ver inventario" class="icono">
                    <p>Estadísticas</p>
                </div>
            </a>
            <a href="inventory.html">
                <div class="opcion">
                    <img src="../static/images/inventario.png" alt="Ver inventario" class="icono">
                    <p>Ver inventario</p>
                </div>
            </a>
            <a href="register.html">
                <div class="opcion">
                    <img src="../static/images/register_user.png" alt="Ver inventario" class="icono">
                    <p>Registrar usuario</p>
                </div>
            </a>
            <a href="user_management.html">
                <div class="opcion">
                    <img src="../static/images/gest_user.png" alt="Ver inventario" class="icono">
                    <p>Gestión de usuarios</p>
                </div>
            </a>
            <a href="clients_management.html">
                <div class="opcion">
                    <img src="../static/images/clients.png" alt="Ver inventario" class="icono">
                    <p>Clientes</p>
                </div>
            </a>
        </div>
    </div>
</body>
</html>
